<ion-view view-title="Event">
  <ion-content>
        <div class="hero has-mask " style="background-image: url({{event.icon}});">
            <div class="location-component" ng-if="!event.icon">
                <ui-gmap-google-map  center="event.start_location.geo" zoom="17" refresh="true" options="mapOptionsHero">
                    <ui-gmap-marker coords="event.start_location.geo" idkey="event.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <div class="content">
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart pull-right" 
                        ng-class="{'button-energized': attending, 'off': !attending }"
                        ng-click="changeAttending()"></button>
            </div>
        </div>
        <div class="mid-bar dark-bg z1 padding">
            <h3>{{event.title}}</h3>
            <p>
                {{event.start_location.city}} {{event.start | date:'• EEEE MM/dd/yyyy @ HH:mm' : event.start_timezone}}
            </p>
        </div>

        <ion-spinner ng-if="!event" style="text-align:center;margin: auto 0;display: block;" icon="dots" class="spinner-dark"></ion-spinner>

        <ion-list ng-if="event">
            <ion-item class="item item-text-wrap">
              <h3 class="calendar-tag" ng-repeat="calendar in event.__calendars" style="background-color:{{calendar.color}};">
                  {{calendar.name}}
              </h3>
            </ion-item>
            <ion-item class="item item-text-wrap datetime-component">
                <div>
                    <i class="icon ion-log-in stable"></i> <strong>{{event.start | date:'EEEE MM/dd/yyyy @ HH:mm' : event.start_timezone}}</strong>
                </div>
                <div>
                    <i class="icon ion-log-out stable"></i> <strong>{{event.end | date:'EEEE MM/dd/yyyy @ HH:mm' : event.end_timezone}}</strong>
                </div>
                <div>
                    <i class="icon ion-clock stable"></i> 
                    <strong>
                        {{event.end | amDifference : event.start : 'hours' }} hours
                    </strong>
                </div>
            </ion-item>

            <ion-item ng-if="event.description" class="item item-text-wrap">
                <div ng-class="isItemShown('description') ? 'item-expand active' : 'item-expand inactive'">
                    {{event.description}}
                </div>
                <p ng-click="toggleItem('description')" class="item-expand-footer" style="color:#3F51B5">
                    <i class="positive" ng-class="isItemShown('description') ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
                    {{ isItemShown('description') ? 'Less' : 'More' }}
                </p>
            </ion-item >

            <ion-item class="location-component">
                <ui-gmap-google-map  center="event.start_location.geo" zoom="18" refresh="true" options="mapOptions">
                    <ui-gmap-marker coords="event.start_location.geo" idkey="event.id"></ui-gmap-marker>
                </ui-gmap-google-map>
                <button ng-if="mapsUrl" class="button button-small pull-right positive" style="margin-top: -52px;margin-right: 10px;" href="{{mapsUrl}}">
                    <i class="icon ion-map positive"></i> Route in Maps
                </button>
                <div class="item item-text-wrap">
                    <strong>{{event.start_location.address}}</strong>
                    <div class="card-footer text-right">
                        
                        <div class="pull-left">
                            {{event.start_location.city}}
                        </div>
                    </div>
                </div>
            </ion-item>


            <!-- the data is not received as correct json: it contains 'u' -->
            <!-- <i class="icon ion-person-stalker"></i> 42{{event['data.fb_friends']}} 
            <i class="icon ion-arrow-graph-up-right"></i> 42{{event['data.rel_data']}}  -->

            <!--
                Due to wrongly imported events, this currently only works on event:
                    84f074a91668de97cf5f59317102cb70_14600447035815
                
                This event contains the data:
                    {
                        "info": "https://nu.nl",
                        "buy": "https://amazon.com",
                        "book": "https://tiquets.com",
                        "call": "+31624116441",
                        "fb_friends": "20",
                        "rel_score": "15"
                    }
            -->
            <ion-list>
                <a ng-if="event.data.info" href="{{event.data.info}}" 
                  class="item item-avatar waves-effect waves-button waves-dark positive">
                    <span class="avatar text-center"><i class="icon ion-information-circled larger"></i></span>
                    <h2>More Info</h2>
                    <p>Visit original website</p>
                </a>
                <a ng-if="event.data.buy" href="{{event.data.buy}}" 
                  class="item item-avatar waves-effect waves-button waves-dark positive">
                    <span class="avatar text-center"><i class="icon ion-card larger"></i></span>
                    <h2>Buy</h2>
                    <p>Buy a last minute ticket</p>
                </a>
                <a ng-if="event.data.book" href="{{event.data.book}}" 
                  class="item item-avatar waves-effect waves-button waves-dark positive">
                    <span class="avatar text-center"><i class="icon ion-bookmark larger"></i></span>
                    <h2>Book</h2>
                    <p>Book at tiquets</p>
                </a>
                <a ng-if="event.data.call" href="tel:{{event.data.call}}" 
                  class="item item-avatar waves-effect waves-button waves-dark positive">
                    <span class="avatar text-center"><i class="icon ion-ios-telephone larger"></i></span>
                    <h2>Call</h2>
                    <p>Get in contact with the organization</p>
                </a>
            </ion-list>

        <ion-list>
  </ion-content>
</ion-view>

<!-- 
"start_location": {
        "id": "5d0b459a9812f5de63010deb395120121acf4947",
        "text": "Lijnbaansgracht 236-241, 1017, Amsterdam",
        "address": "Lijnbaansgracht 236-241",
        "postcode": "1017",
        "city": "Amsterdam",
        "geo": {
          "latitude": 52.364725,
          "longitude": 4.8818803
        },
        "labels": []
      }, -->