<ion-view view-title="">
  <ion-content>
        <div class="bar bar-header bar-positive flat">
            <!-- <button class="button button-icon icon ion-star flat pull-left"></button> -->
            <h1 class="title">Event</h1>
            <!-- <button class="button button-icon icon ion-android-search flat pull-right"></button> -->
        </div>
        <div class="hero has-mask " style="background-image: url({{event.icon}});">
            <div class="location-component" ng-if="!event.icon">
                <ui-gmap-google-map  center="event.start_location.geo" zoom="17" refresh="true" options="mapOptionsHero">
                    <ui-gmap-marker coords="event.start_location.geo" idkey="event.id"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
            <div class="content">
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart pull-right text-white"></button>
            </div>
        </div>
        <div class="mid-bar dark-bg z1 padding">
            <h3>{{event.title}}</h3>
            <p>
                {{event.start_location.city}} {{event.start | date:'• EEEE MM/dd/yyyy @ HH:mm' : event.start_timezone}}
            </p>
        </div>
        <div class="content item-text-wrap">
        </div>

        <ion-list>
            <ion-item class="item item-text-wrap">
              <h3 class="calendar-tag" ng-repeat="calendar in event.__calendars" style="background-color:{{calendar.color}};">
                  {{calendar.name}}
              </h3>
            </ion-item>
            <ion-item class="item item-text-wrap datetime-component">
                <div>
                    <i class="icon ion-log-in stable"></i> <strong>{{event.start | date:'EEEE MM/dd/yyyy @ HH:mm' : event.start_timezone}}</strong>
                </div>
                <div>
                    <i class="icon ion-log-out stable"></i> <strong>{{event.end | date:'EEEE MM/dd/yyyy @ HH:mm' : event.end_timezone}}</strong>
                </div>
                <div>
                    <i class="icon ion-clock stable"></i> <strong>1 hour</strong>
                </div>
            </ion-item>

            <ion-item class="item item-text-wrap">
                <div ng-class="isItemShown('description') ? 'item-expand active' : 'item-expand inactive'">
                    {{event.description}}
                </div>
                <p ng-click="toggleItem('description')" class="item-expand-footer" style="color:#3F51B5">
                    <i class="positive" ng-class="isItemShown('description') ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
                    {{ isItemShown('description') ? 'Less' : 'More' }}
                </p>
            </ion-item >
            <!-- the data is not received as correct json: it contains 'u' -->
            <!-- <i class="icon ion-person-stalker"></i> 42{{event['data.fb_friends']}} 
            <i class="icon ion-arrow-graph-up-right"></i> 42{{event['data.rel_data']}}  -->

            <ion-item class="location-component">
                <ui-gmap-google-map  center="event.start_location.geo" zoom="18" refresh="true" options="mapOptions">
                    <ui-gmap-marker coords="event.start_location.geo" idkey="event.id"></ui-gmap-marker>
                </ui-gmap-google-map>
                <div class="item item-text-wrap">
                    <strong>{{event.start_location.address}}</strong>
                    <div class="card-footer text-right">
                        <i id="{{event.start_location.id}}" class="icon ion-pinpoint positive"></i> Discover more
                        <div class="pull-left">
                            {{event.start_location.city}}
                        </div>
                    </div>
                </div>
            </ion-item>

            <ion-list>
                <a class="item item-avatar waves-effect waves-button waves-dark">
                    <span class="avatar"><i class="icon ion-log-in larger"></i></span>
                    <h2>Open Something</h2>
                    <p>with something</p>
                </a>
                <a class="item item-avatar waves-effect waves-button waves-dark">
                    <span class="avatar"><i class="icon ion-log-in larger"></i></span>
                    <h2>Open Something</h2>
                    <p>with something</p>
                </a>
            </ion-list>

        <ion-list>
  </ion-content>
</ion-view>

<!-- 
"start_location": {
        "id": "5d0b459a9812f5de63010deb395120121acf4947",
        "text": "Lijnbaansgracht 236-241, 1017, Amsterdam",
        "address": "Lijnbaansgracht 236-241",
        "postcode": "1017",
        "city": "Amsterdam",
        "geo": {
          "latitude": 52.364725,
          "longitude": 4.8818803
        },
        "labels": []
      }, -->