<ion-view class="discover" view-title="Discover" ng-init="initHome()">
  <div class="map-wrapper" style="position: absolute; top: 0px; width: 100%">
    <ui-gmap-google-map center='mapConfig.center' zoom='mapConfig.zoom' events="mapConfig.events">
      <ui-gmap-marker
          ng-repeat="event in events | filter:{filtererdOut:false}"
          coords="event.start_location.geo"
          idkey="event.id"
          click="onclick(event.id)"
          >
      </ui-gmap-marker>
    </ui-gmap-google-map>
    <a style="position:absolute;bottom: -44px;right: 10px; transform: rotate(45deg);" class="button button-fab button-assertive" href="#/tab/interests"  ng-controller="InterestsCtrl">
      <span ng-repeat="calendar in calendars" style="background-color:{{calendar.color}};display:inline-block;height:100%;width:7%;"></span>
      <i style="left: 18px;position: absolute;top: 7px;" class="icon ion-gear-a"></i>
    </a>
  </div>
  <ion-content style="top: 300px !important;">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list style="top: 160px !important;">
      <ion-item collection-repeat="event in events | filter:{filtererdOut:false}" class="item item-avatar waves-effect waves-button waves-dark" type="item-text-wrap" href="#/tab/event/{{event.id}}">
        <span class="avatar text-center">
          {{event.start | date:'@ HH:mm' : event.start_timezone}}
          <i ng-if="event.rsvp_status === 'attending'" class="icon ion-heart energized"></i>
        </span>
        <h2>{{event.title}}</h2>
        <h3 class="calendar-tag" ng-repeat="calendar in event.__calendars" style="background-color:{{calendar.color}};">
              {{calendar.name}}
        </h3>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
