<ion-view class="discover" view-title="Discover">
  <div class="map-wrapper" style="position: absolute; top: 0px; width: 100%">
    <ui-gmap-google-map center='mapCongig.center' zoom='mapCongig.zoom'events="events">
      <ui-gmap-marker ng-repeat="event in events" coords="event.start_location.geo" idkey="event.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
  <ion-content style="top: 300px !important;">
      <ion-list style="top: 160px !important;">
        <ion-item ng-repeat="event in events" type="item-text-wrap" href="#/tab/event/{{event.id}}">
          <h2>{{event.title}}</h2>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
