<ion-view view-title="Interests">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left calendar-item" ng-repeat="calendar in calendars" type="item-text-wrap" href="#/tab/home/{{calendar.id}}">
        <i class="icon ion-chevron-left icon-accessory"></i>
        <div class="calendar-color" style="background-color:{{calendar.color}}"></div>
        <h2>{{calendar.name}}</h2>
        <!--  -->
        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
