/*
    EVENTS-MAP VIEW
*/
[view-title="Home"] .angular-google-map-container, [view-title="Home"] .bar-subheader {
  height: 300px;
}
/*
    EVENTS-MAP VIEW
*/


/*
    CALENDARS VIEW
*/
.calendar-color{
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
  border-radius: 100%;
}

.item-complex.calendar-item .item-content{
  padding-top: 30px 0px;
}
/*
    END CALENDARS VIEW
*/


.location-component .angular-google-map-container {
  height: 200px;
}