/*
    EVENTS-MAP VIEW
*/
[view-title="Home"] .angular-google-map-container, [view-title="Home"] .bar-subheader {
  height: 300px;
}
/*
    EVENTS-MAP VIEW
*/


/*
    CALENDARS VIEW
*/
.calendar-color{
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 10px;
  border-radius: 100%;
}

.item-complex.calendar-item .item-content{
  padding-top: 30px 0px;
}
/*
    END CALENDARS VIEW
*/


.location-component .angular-google-map-container {
  height: 240px;
}



.icon.larger {
  font-size: 56px;
}



/* Item expanding */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 60px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 200px;
  transition: max-height 0.3s ease-out;
}
